{% extends 'layout.html.twig' %}

{% block content %}
  <div class="individual">
    <header class="individual__header individual__section">
      {% if is_creation %}
        <h2 class="individual__title">New Documentation</h2>
      {% else %}
        <h2 class="individual__title">{{ article.title }}</h2>
      {% endif %}
    </header>

    <h3 class="individual__section-title">Details</h3>
    <section class="individual__section">
      <form class="form" method="POST">
        <div class="form__pair">
          <label class="form__label" for="title">Title</label>
          <input required type="text" class="form__field" name="title" value="{{ article.title }}"/>
        </div>

        <div class="form__pair">
          <label class="form__label" for="slug">Slug</label>
          <input required type="text" class="form__field" name="slug" value="{{ article.slug }}"/>
        </div>

        <div class="form__pair">
          <label class="form__label form__label--top" for="content">Content</label>
          <textarea required name="content" class="form__field form__field--large documentation__content-field">{{ article.content }}</textarea>
        </div>

        <div class="form__actions">
          <button type="submit" form="delete-doc" class="btn btn--danger">Delete</button>
          <button type="submit" class="btn btn--primary">Save</button>
        </div>
      </form>

      <form id="delete-doc" method="POST" action="/lexington/documentation/{{ article.slug }}/delete"></form>
    </section>
  </div>
{% endblock %}
